*{ box-sizing: border-box; }

body{
    font-family: 'Poppins', sans-serif;
}   

h2{
    font-size: 36px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
}

p, a{
    line-height: 1.4;
    text-decoration: none;
}
a{ display: inline-block; }

img {
    max-width: 100%;
    vertical-align: text-top;
}

/* LAYOUT */
.container-fluid{
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1180px;
    padding: 0 16px;
}

.col{
    flex: 1;
    align-self: center;
    text-align: center;
}

.full{
    height: 100vh;
    min-height: 640px;
    padding: 24px 0;
}

.mid{
    /* height: 50vh; */
    min-height: 460px;
    padding: 32px 0;
}

.auto{ padding: 32px 0; }

.left{ text-align: left; }
.right{ text-align: right; }

/*BARRA DE NAVEGAÇÃO*/
nav{
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    height: 64px;
    background: #fffa;
}

.nav-back{
    position: fixed;
    z-index: 9;
    height: 64px;
    background: #fff;
}

@supports(backdrop-filter: blur()){
    .nav-back{
        backdrop-filter: blur(10px);
        mix-blend-mode: difference;
    }
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #111;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
} 

/* LOGO */
.logo{
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px;
    transition: .2s;
}

.logo:hover{
    text-shadow: 0 2px 10px rgba(0, 147, 233, 0.5);
}

/* MENU*/
.menu-list{
    display: flex;
    flex-flow: row wrap;
}

.menu-item a{
    height: 64px;
    color: #111;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 64px;
    padding: 0em 1em;
}

.menu-item a:hover{
    color: #0093E9;
}

/*SESSAO 1 - MAIN */
.main{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    overflow: hidden;
}

.main-name{
    position: absolute;
    z-index: 3;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255,255,255,.5);
    color: #fff;
}

.main img{
    position: absolute;
    width: 100%;
    max-width: 1180px;
    min-height: 80%;
    padding: 32px 16px;
    object-fit: cover;
    z-index: 2;
    opacity: .8;
}

[data-main="image"]{
    /* top: 15%; */
    z-index: 1 !important;
    filter: grayscale(1);
}


.skills, .bio{
    font-size: 18px;                                                                
    color: #fff; 
}
.col img{
    max-width: 280px;
}

.formations{ text-align: center; }
.formations dt{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1px;
}
.formations dd{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 26px;
}
.formations dd:last-child{
    margin-bottom: 0;
}

.skills ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills li{
    display: flex;
    align-items: center;
    padding: .5em;
    margin: .5em;
    background: #222;
    color: #fff;
    letter-spacing: 1px;
    transition: .2s ease-in-out;
}

.skills li i{
    font-size: 22px;
    margin-right: .5em;
}

.skills li:hover{
    /* cursor: pointer; */
    padding: .7em;
    margin: .3em;
    background: #fff;
    color: #111;
    box-shadow: 0 0 10px #666;
}

/*SESSAO 3 - PORTIFOLIO*/
.slide-wrapper{
    position: relative;
    padding: 0;
}

.slide{
    display: flex;
    /* height: 100%; */
}

.slide-item{
    display: flex;
    justify-content: start;
}

.slide-item div{
    flex: 1 1 0;
}

.thumb img{
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 99% 0, 92% 100%, 0% 100%);
    clip-path: polygon(0 0, 99% 0, 92% 100%, 0% 100%);    
}

.desc{
    align-self: center;
    padding-left: 16px;
}

.desc h2, .desc p{
    padding-right: calc(((100vw - 1180px) / 2));
}

.desc p{
    margin: 8px 0;
    font-size: 18px;
    line-height: 1.4;
}

.desc a{
    display: inline-block;
    margin-top: 8px;
    padding: 10px 26px;
    color: #fff;
    background: #111;
    font-size: 18px;
    transition: .5s;
    letter-spacing: 1px;
}

.desc a:hover{
    background: rgb(0, 147, 233);
    box-shadow: 0 0 1em rgba(0, 147, 233, .5);
    transition: .25s;    
}

.slide-list{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.slide-list li{
    width: 8px;
    height: 8px;
    /* background: red; */
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 8px;
    transition: .2s;
    cursor: pointer;
}

.slide-list li:hover{
    padding: 4px;
}

/* CONTATO */
.contact{
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.contact .col{
    justify-content: center;
}

.contact a{ 
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: .25s;
    letter-spacing: 1px;
}

.contact a:hover{
    color: #efefef;
}

.contact .image{
    text-align: center;
    max-width: 128px;
}

.contact li {
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 1px;    
    margin: 4px 0;
}

/* BACKGROUNDS */
.bg-white{ background: #fff; }
.bg-black{ background: #111; }
.bg-blue{ background: #0093E9; }
.bg-invert{
    height: 48px;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    filter: invert(1);
}

/*AJUSTES DE LAYOUT PARA MOBILE*/ 

@media print {
    .nav{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 768px) {
    .container, .slide-item{
        flex-flow: column;
        /* justify-content: center; */
        text-align: center;
    }
    .navbar{
        flex-flow: row wrap;
    }
    .mid{
        height: 100%;
    }
    .skills {
        flex-direction: column-reverse;
    }
    .left, .right{
        text-align: center;
    }
    .col img{
        margin: 32px 0;
    }
    .contact div:last-child{
        display: none;
    }
    .desc{
        padding: 0;
    }
    
    .slide-wrapper{
        padding: 32px 0;
    }
    
    .slide .thumb img{
        clip-path: none;
    }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (max-width: 1382px) {
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5)
{
}