@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    -webkit-font-smothing: antialising;
}

h2{
    margin: 10px 0;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.4;
    color: #111;
}

p, a{
    line-height: 1.4;
}

img{
    max-width: 100%;
    vertical-align: text-top;
}

/* LAYOUT */
.container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.container{
    display: flex;
    width: 100%;
    max-width: 960px;
    padding: 0 1em;
}

.col{
    flex: 1;
    align-self: center;
    min-width: 240px;
    margin: 0 1rem;
}

.full{
    height: calc(100vh - 48px);
    min-height: 640px;
    margin: 48px 0;
}

.mid{
    height: 30vh;
    min-height: 420px;
    margin: 48px 0;
}

/*BARRA DE NAVEGAÇÃO*/
.nav{
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    height: 48px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-item{

}

.logo{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#idOpenMenu, #idCloseMenu{
    font-weight: bold;
    user-select: none;
    padding: .8rem 1rem;
    transition: .2s;
    cursor: pointer;
    border-radius: 2rem;
}

#idOpenMenu:hover{
    background: rgba(0, 0, 0, 0.1);
}

#idCloseMenu:hover{
    background: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
}

/* MENU SOBREPOSTO*/
.menu{
    position: fixed;
    top: 0; left: 0;
    z-index: 20;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: white;
    transition: 0.5s;
}

.menu-body{
    justify-content: center;
}

.menu-list{
    display: flex;
    flex-flow: row wrap;
}

.menu-item{
    font-size: 32px;
    font-weight: 900;
    padding: 0 10px;
}

.menu-item a{
    font-size: 40px;
    line-height: calc(40px * 1.4);
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.menu-item a:hover{
    color: #0093E9;
    text-shadow: 0 2px 10px rgba(0, 147, 233, 0.5);
}

.close{ top: -100%; }

.open{ top: 0; }

/*SESSAO 1 - MAIN */
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width: 960px;
    height: 30vh;
    min-height: 200px;
    background-color: #80D0C7;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: .5rem;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.main-img{
    width: 100%;
    min-width: 300px;
    max-width: 50vh;
    vertical-align: bottom;
    z-index: 2;
}

.name{
    font-weight: 900;
    font-size: 6.5rem;
    line-height: 1;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}

.first-name{
    align-self: flex-start;
}
.last-name{
    align-self: flex-end;
}

/* SESSAO 2 - SOBRE, FORMAÇÕES E HABILIDADES */
.bio, .skills{
    flex-flow: row wrap;
    color: #ddd;
    /* align-content: center; */
}

.bio{
    font-size: 18px;
}

.title{
    background-color: #80D0C7;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills ul{
    padding-left: 1.5rem;
    list-style: initial;
}

.skills ul li{
    font-size: 18px;
    line-height: 1.4;
}

/*SESSAO 3 - CARDS DOS PROJETOS(PORTIFOLIO)*/
.cards > span{
    width: 36px;
    height: 36px;
    align-self: center;
    flex-shrink: 0;
    background: #111;
    border-radius: 50%;
    cursor: pointer;
    transition: .25s;
}

.cards > span:hover{
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 0.25s;

}

.ativo{
    top: 0px;
    opacity: 1;
}

.card-thumb{
    flex-grow: 2;
}

.card-main{
    flex-grow: 1;
}

.card-btn a{
    display: inline-block;
    height: 3rem;
    padding: 0 3rem;
    background: #111;
    margin: 1rem 0; 
    border-radius: 2rem;
    transition: .25s;
    text-decoration: none;
    font-size: 18px;
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-btn a:hover{
    background: #0093E9;
    box-shadow: 0px 5px 30px rgba(0, 147, 233, 0.5);
}

/* BACKGROUNDS */
.bg-deg{
    background-color: #80D0C7;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-attachment: fixed;
}

.bg-white{ background: #efefef; }
.bg-black{ background: #111; }

/*AJUSTES DE LAYOUT PARA MOBILE*/ 
@media (max-width: 767px){
    .col{ text-align: center; }
    
    .col ul{ list-style: none; }
    
    .mid{ height: 100%; }
    
    .skills{ flex-flow: row wrap-reverse; }
}

@media (max-width: 640px){
    .menu-list{ flex-flow: column wrap; }

    .menu-item{ margin: 10px 0px; }    
} 