.mobile-button{
    display: none;
}

@media (max-width: 768px){
    .mobile-button{
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 1em;
        font-family: 'Poppins', sans-serif;        
        font-size: 16px;
        line-height: 48px;
        text-transform: uppercase;
        border: none;
        background: transparent;
    }
    
    .mobile-button::before{
        content: '';
        height: 2px;    
        width: 16px;
        background: #111;
        margin-right: 8px;
        box-shadow: 0 5px #111, 0 -5px #111;
    }
    
    .mobile-button:hover::before, .mobile-button:focus::before{
        background: #0093E9;
        box-shadow: 0 5px #0093E9,0 -5px #0093E9;
    }
    
    .mobile-button:hover, .mobile-button:focus{
        outline: none;
        color: #0093E9;
        border-bottom: 2px solid #0093E9;
        background: #ededed;
        cursor: pointer;
    }
    
    .menu-list{
        display: none;
    }   
    
    .menu-list.active{
        display: inline-block;
        position: absolute;
        top: 0; right: 0;
        z-index: -2;
        height: 100vh;
        margin-top: 48px;
        flex-flow: column wrap;
        text-align: right;
        background: #fff;
    }
    
    .menu-list.active .menu-item a{
        width: 100%;
        transition: none;
        -webkit-animation: menulist 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: menulist 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    
    .menu-list.active a:hover{
        border: none;
    }
    
}

@keyframes menulist {
    0% {
        opacity: 0;
        letter-spacing: -.5em;
        width: 0vw;
    }
    40%{
        opacity: 1;
        letter-spacing: .2em;
        width: 55vw;
    }
    100%{
        letter-spacing: normal;
        width: 50vw;
    }
    
}