/*SESSAO 3 - PORTIFOLIO*/
.slide-wrapper{
    position: relative;
    display: flex;
    align-content: center;
    user-select: none;
    overflow: hidden;
}

.slide{ display: flex; }

.slide:hover { will-change: transform; }

.slide-item{
    display: flex;
    flex-shrink: 0;
    width: 80vw;
    margin-right: 1em;
    justify-content: start;
}

.thumb{
  flex: 2 1 0;
  padding-right: 1em;
}

.thumb img{
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.desc{
    align-self: center;
    flex: 1 1 0;
}

a.slide-link{
    display: inline-block;
    padding: .6em 1.2em;
    margin-top: 8px;
    min-height: 42px;
    min-width: 64px;
    color: #fff;
    font-size: 18px;
    background: rgb(0, 120, 240);
    transition: .25s;    
}

a.slide-link:hover{
    background: rgb(0, 95, 224); /* -25 -16 */  
    box-shadow: 0 0 .8em rgba(0, 95, 224, 0.65);
}

a.slide-link:focus{
    background: rgb(0, 70, 199);
    box-shadow: 0 0 .8em rgba(0, 70, 199, 0.65);
}

button.slide-nav{
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    transform: translateY(-50%);
    background: #333;
    border: none;
    border-radius: 50%;
    transition: .25s;
}

button.slide-nav:hover{
    cursor: pointer;
    background: #111;
    box-shadow: 0 0 .8em rgba(17, 17, 17, 0.65);
}

button.slide-nav > i{
    color: #fff;
    font-size: 1em;
    line-height: 48px;
}

.prev{
    left: 16px;
}

.next{
    right: 16px;
}